blockquote {
  border-left: 5px solid;
  padding-left: 8px;
}

@media print {
  .no-print, .footnote-return, .breadcrumb {
    display: none;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  .footnotes {
    color: #999;
  }
  /* footer { */
  /*   position:absolute; */
  /*   bottom: 0; */
  /* } */
}

.breadcrumb {
  margin: 0;
  padding: 0;
  display: flex;
  clear: both
}
.breadcrumb li {
  list-style-type: ">";
  float: left;
  margin: 0;
  padding: 0;
  margin-left: 1em;
  padding-left: 0.5em;
}
.breadcrumb li:first-of-type {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
